body {
    background-color: #0f0f0f;
    color: white;
    font-family: Sans;
    text-align: center;
}

.title {
    font-size: 41px;
}

img {
    width: 200px;
}

.container {
    justify-content: center;
    display: flex;
    border: 2px white solid;
    padding: 12px;
    width: 200px;
    margin: auto;
    flex-direction: column;
    margin-bottom: 20px;
}

audio {
    width: 300px;
    height: 40px;
    margin: 20px;
    display: none;
}

a {
    color: white;
    display: block;
}

#btn, #playpause {
    width: 50px;
    height: 50px;
    background-color: #161616;
    border: none;
    box-shadow: 0 2px 2px black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

#btn img, #playpause img {
    width: 20px;
}

#btn:active, #playpause:active {
    transform: translateY(2px);
    box-shadow: none;
}

.buttons {
    justify-content: center;
    align-items: center;
    display: flex;
}

@font-face {
    font-family: sans;
    src: url(Sans.ttf)
}